* {
    box-sizing: border-box;
  }

  /* Body Styling */
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Styling for the Navigation Bar */
  .topnav {
    overflow: hidden;
    background-color: #CFB997;
  }
  
  .topnav a {
    float: right;
    color: #03001C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #567189;
    color: white;
    font-weight: 600;
  }

 



/* paragraph styling*/
  p {
padding-left: 10%;
padding-right: 10%;
margin-left: auto;
text-size-adjust: 50%;

  }

/* Header styling */
  .header {
    padding: 40px;
    padding-bottom: 10px;
    text-align:center;
    background: #5a748a;
    color: #03001C;
    font-size: 50px;  
  }


/*Zach head shot */
  header img {
   float:none;
    width: 300px;
 
    
  }
/* Styling for the h1 elements*/
  h1, h2 {
   
    padding-left: 30px;
    
  }

  .flex {
   justify-content: center; 
  }

/* prework study guide image */
  .prework {
    display: inline-block;
    max-width: 100%;
    margin-left: 35%;
    margin-right: auto;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-bottom: 30px;
  }

  .prework:hover {
    transform: scale(1.1);
  }

/*Semantic HTML image styling*/
  .semantic {
    margin-left: 35%;
    display: inline-block;
    max-width: 540px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-bottom: 30px;
    

  }

  .semantic:hover {
    transform: scale(1.1);
  }

  
    
   
  /*Gray background styling for the Projects section */
  .side {
    background-color: #f1f1f1; 
    border-top: 100px;
  }

/* Footer styling*/
  .footer {
    padding-top: 50px;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CFB997;
    color: #03001C;
    text-align:center;
    font-size: 25px;
    height: 150px;
    
 }

  .footer a {
    float: center;
    color: #03001C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    
  }
  
  .footer a:hover {
    background-color: #567189;
    color: white;
    font-weight: 600;
  }


  
    /* Responsive layout */
    @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
    .projects {
      float: none;
      width: 100%;
    }
    .topnav a {
      text-align: auto;
      text-transform: auto;
       
     }
  }

  @media screen and (max-width: 800px) {
    .flex {
     justify-content: center; 
    }

  }

 